<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'crud/css/home.css' %}">
    <link rel="shortcut icon" href="{%  static 'crud/images/favicon.ico' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <!-- {% block header %} -->
  <header>
    <div class="logo">
      <a href="{% url 'crud:home' %}"><img src="{%  static 'crud/images/logo.svg' %}" alt="logo_camp.in"></a>
    </div>
    <div class="links-header">
      <ul>
        <p class="user">{{  request.user }}</p>
        <li><a href="{% url 'crud:home' %}">home</a></li>
        <li><a href="{% url 'crud:list_user' %}">listar users</a></li>
        <li><a href="{% url 'crud:delete' %}">deletar</a></li>
        <li><a href="{% url 'crud:editar' %}">editar</a></li>
      </ul>
    </div>
  </header>
  <!-- {% endblock %} -->


  <!-- {% block footer %} -->
  <footer class="box flex-column text-center">
    <div class="mb-30">
      <p>criado por <b>Carlos Gabriel</b></p>
    </div>
    <div class="my-20 space">
      <a class="mx-10" href="#"><img src="{%  static 'crud/images/github.png' %}" alt="logo_github"></a>
      <a class="mx-10" href="#"><img src="{%  static 'crud/images/linkedin.png' %}" alt="logo_linkedin"></a>
      <a class="mx-10" href="#"><img src="{%  static 'crud/images/instagram.png' %}" alt="logo_instagram"></a>
    </div>
  </footer>
  <!-- {% endblock %} -->
</body>
</html>
