{% extends "./base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'crud/css/delete.css' %}">

{% block content %}
<div class="box flex-column center">
  <h1 class="title"> Deletar usuários </h1>
  <div class="flex flex-wrap center">
    {% for user in users %}
        {% if user.username != request.user.username %}
        <div class="box flex center-column border space-between">
          <div class="mr-10">
            <p>{{ user.username }}</p>
            <p>{{ user.email }}</p>
          </div>
          <a href="{% url 'crud:delete_user' user.id %}"><img src="{% static 'crud/images/botao-x.png' %}" alt="button_x"></a>
        </div>
        {% endif %}
    {% endfor %}
    <div>
    </div>
  </div>
</div>
{% endblock %}