{% extends "./base.html" %}
{% load static %}

{% block style %} <link rel="stylesheet" href="{% static 'crud/css/list_user.css' %}">{% endblock %}


{% block content %}
<div>
  <h1 class="title"> Deletar usuários </h1>
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
      <tr>
        {% if user.username != request.user.username %}
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td><a href="{% url 'crud:delete_user' user.id %}">x</a></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}