{% extends "./base.html" %}

{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'crud/css/editar.css' %}">{% endblock %}
 
{% block content %}
  <div class="box flex-column">
    <h1 class="title">Alterando dados</h1>
    
    <div class="data flex my-30">
      <div class="data-atual mx-10 box border">
        <h2 class="txt-center">Dados atuais</h2>
        <div class="h-100 flex-column">
          <p>Username: {{ request.user.username }}</p>
          <p>Email: {{ request.user.email }}</p>
        </div>
      </div>
      <div class="mx-10 box border">
        <h2 class="txt-center">alterar dados</h2>
        <div class="h-100 flex-column">
          <form action="{% url 'crud:editar_user' request.user.id %}" id="form_edit" class="flex-column" method="POST">
            {% csrf_token %}
            <label for="username_in">Username</label>
            <input required="true" autocomplete="false" type="text" id="username_in" name="new_name">
            <label for="email_in">E-mail</label>
            <input required="true" type="email" id="email_in" name="new_email">
          </form>
        </div>
      </div>
    </div>
    
    <div class="confirm">
      <p class="my-20"><b>para confirmar a edição dos dados coloque sua senha</b></p>
      <div class="flex-column">
        <input class="mb-20" form="form_edit" required="true" type="password" id="password" name="password">
        <input form="form_edit" class="button" type="submit" value="EDITAR">
      </div>
    </div>
  </div>
{% endblock %}