<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forms</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'crud/css/style.css' %}">
    <link rel="shortcut icon" href="{%  static 'crud/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>

  <div class="box-index">
    <div class="content">
      <div class="logo">
        <img src="{%  static 'crud/images/logo.svg' %}" alt="logo_camp.in">
      </div>
      <div class="forms">
        <form action="{% url 'crud:check_user' %}" method="POST">
          {% csrf_token %}
            <div class="legend">
              <img src="{% static 'crud/images/log-in.svg' %}" alt="log-in">
              <h1>Faça seu login</h1>
            </div>
            <p>Entre com suas informações de cadastro</p>
            <div class="inputs">
              <label for="username_in">Username</label>
              <input required="true" type="text" id="username_in" name="nome">
              <label for="password">Senha</label>
              <input required="true" type="password" id="password" name="password">
              {% if error %}
                <p class="box-alert red">{{ error }}</p>
              {% endif %}
              {% if aproved %}
                <p class="box-alert green">{{ aproved }}</p>
              {% endif %}
            </div>
            <div class="resgatar">
              <div>
                <input class="check" type="checkbox" name="" id="lembre">
                <label for="lembre">Lembre-me</label>
              </div>
              <a href=""><b>esqueci minha senha</b></a>
            </div>
            <input class="button mb" type="submit" value="ENTRAR">
            <a class="text-center" href="{% url 'crud:registrer' %}">Não tem uma conta? <b>Registre-se</b></a>
        </form>
      </div>
    </div>
    <div class="car-image">
        <img src="{%  static 'crud/images/side-image.jpg' %}" alt="car_image">
    </div>
  </div>
  
</body>

</html>