{% extends "./base.html" %}

{% load static %}

{% block styles %} <link rel="stylesheet" href="{% static 'crud/css/list_user.css' %}"> {% endblock %}
   
{% block content %}

<div class="box flex-column center">
  <h1 class="title"> Listando usuários </h1>
  <div class="flex flex-wrap center">
    {% for user in list %}
        <div class="box flex center-column border space-between">
          <div class="mr-10">
            <p>{{ user.username }}</p>
            <p>{{ user.email }}</p>
          </div>
        </div>
    {% endfor %}
    <div>
    </div>
  </div>
</div>
{% endblock %}