{% extends "./base.html" %}

{% load static %}

{% block styles %} <link rel="stylesheet" href="{% static 'crud/css/list_user.css' %}"> {% endblock %}
   
  {% block content %}
    <div class="box center">
      <h1 class="title"> Listando os usuários </h1>
      <table>
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
      {% for user in list %}
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
          </tr>
      {% endfor %}
        </tbody>
      </table>
    </div>
    {% endblock %}