<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forms</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'crud/css/registrer.css' %}">
    <link rel="stylesheet" href="{% static 'crud/css/base.css' %}">
    <link rel="shortcut icon" href="{%  static 'crud/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
  
  <div class="box">
    <div class="content">
      <div class="logo">
        <a href="{% url 'crud:index' %}"><img src="{%  static 'crud/images/logo.svg' %}" alt="logo_camp.in"></a>
      </div>
      <div class="forms">
        <form action="{% url 'crud:save_cadastro' %}" method="POST">
          {% csrf_token %}
            <div class="legend">
              <img src="{% static 'crud/images/log-in.svg' %}" alt="log-in">
              <h1>Faça seu cadastro</h1>
            </div>
            <p>Entre com suas informações de cadastro</p>
            <div class="inputs">
              <label for="username_in">Username</label>
              <input required="true" autocomplete="false" type="text" id="username_in" name="nome">
              {% if error_username %}
                <p class="box-alert red">{{ error_username }}</p>
              {% endif %}
              <label for="email_in">E-mail</label>
              <input required="true" type="email" id="email_in" name="email">
              {% if error_email %}
                <p class="box-alert red">{{ error_email }}</p>
              {% endif %}

              <label for="password">Senha</label>
              <input required="true" type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            </div>
            <input class="button mb" type="submit" value="CADASTRAR">
        </form>
      </div>
    </div>
  </div>
  
</body>

</html>