*{
  margin: 0;
  padding: 0;
}

:root{
    /*colors*/
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632; 
}

body{
    background-color: var(--background);
    color: var(--text-base);
    width: 100vw;
    font-size: 12px;
    font-family: Roboto, Sans-Serif;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.flex{
display: flex;
}

.row{
  flex-direction: row;
}

.txt-center{
text-align: center;
}

.border{
border: 1px solid black;
}

.h-100{
height: 100%;
}

.my-30{
margin: 30px 0;
}

.my-20{
margin: 20px 0;
}

.mb-20{
margin-bottom: 20px;
}

.mx-10{
margin: 0 20px;
}

.mr-10{
  margin-right: 10px;
}

.w100{
    width: 100%;
}

.box{
  background-color: var(--form-background);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px black;
  margin: 20px;
}

.mx-0{
  margin: 20px 0;
}

.br-0{
  border-radius: 0;
}

.center{
  justify-content: center;
  align-items: center;
}

.center-column{
  align-items: center;
}

.title{
  font-family: Poppins, Sans-Serif;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.button{
  background-color: var(--primary-color);
  color: black;
  border: none;
  padding: 15px 15px;
  border-radius: 5px;
}

.flex-wrap{
  flex-wrap: wrap;
}

input{
  color: white;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 2px solid #cdcdcd60;
  padding: 5px 0;
  background-color: var(--form-background);
}

input:hover{
  border: 2px solid var(--primary-color);
}

a{
  text-decoration: none;
  color: var(--primary-color);
}

.justificado{
  text-align: justify;
  line-height: 1.5em;
}

.padding-20{
  padding: 20px;
}

.border{
  border: 1px solid black;
}

.space-between{
  justify-content: space-between;
}

/*delete box*/
.box-delete{
  border: 2px solid red;
}
