.button{
  background-color: var(--primary-color);
  border: none;
  padding: 15px 15px;
  border-radius: 5px;
  color: var(--background);
}

input{
  color: white;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 2px solid #cdcdcd60;
  padding: 8px 0;
  background-color: var(--form-background);
}

@media (max-width: 800px){
  .data{
    flex-direction: column;
  }
  .box{
    text-align: center;
  }
  .data-atual{
    margin-bottom: 30px;
  }
}