*{
    margin: 0;
    padding: 0;
}

:root{
    /*colors*/
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632; 
}

header{
    display: flex;
    background-color: var(--form-background);
    /* width: 100vw; */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(168, 168, 168, 0.486);
  }
  
  .links-header > ul{
    display: flex;
  }
  
  .links-header > ul > *{
    margin: 0 10px;
    list-style: none;
  }
  
  main{
    display: flex;
    flex-direction: column;
  }
  
  a{
    text-decoration: none;
    color: var(--text-base);
  }
  
  a:hover{
  color: var(--primary-color);
  }

  .logo{
    margin-left: 20px;
  }
  
  @media (max-width: 800px){
    header{
      flex-direction: column;
    }
    .logo{
      margin: 10px 0;
    }
  }