*{
  margin: 0;
  padding: 0;
}

:root{
    /*colors*/
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632; 
}

body{
    background-color: var(--background);
    color: var(--text-base);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, Sans-Serif;
}

.box-register{
  background-color: var(--form-background);
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 50px;
  box-shadow: 10px 10px 5px black;
  border-radius: 10px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-center{
  text-align: center;
}

.mb{
  margin-bottom: 15px;
}

form{
  display: flex;
  flex-direction: column;
}

.legend{
  display: flex;
  align-items: center;
}

.legend > h1{
  margin-left: 10px;
  margin-bottom: 0;
}

.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 0;
}

.button{
  background-color: var(--primary-color);
  border: none;
  padding: 15px 15px;
  border-radius: 5px;
}

.inputs > input{
  color: white;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 2px solid #cdcdcd60;
  padding: 8px 0;
  background-color: var(--form-background);
}

.inputs > input:hover{
  border: 2px solid var(--primary-color);
}

.forms{
  background-color: var(--form-background);
}

.box-alert{
  padding: 7px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
}

.red{
  background-color: #ff38382a;
  border: 2px solid red;
  color: red;
}
@media (max-width: 800px){
  .box-register{
    max-width: 300px;
    padding: 30px;
  }
}

