*{
  margin: 0;
  padding: 0;
}

:root{
    /*colors*/
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632; 
}

body{
    background-color: var(--background);
    color: var(--text-base);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto, Sans-Serif;
}


header{
  margin-top: 10px;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(168, 168, 168, 0.486);
}

.links-header > ul{
  display: flex;
}

.links-header > ul > li{
  margin: 0 10px;
  list-style: none;
}

main{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

a{
  text-decoration: none;
  color: var(--text-base);
}

a:hover{
color: var(--primary-color);
}

.box{
  background-color: var(--form-background);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px black;
  display: flex;
  margin: 20px 0;
}

.content{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forms{
  margin: 20px;
  padding: 35px;
  border-radius: 10px;
}

.text-center{
  text-align: center;
}

.mb{
  margin-bottom: 15px;
}

a{
  text-decoration: none;
  color: var(--primary-color);
}

form{
  display: flex;
  flex-direction: column;
}

.legend{
  display: flex;
  align-items: center;
}

.legend > h1{
  margin-left: 10px;
  margin-bottom: 0;
}

.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 0;
}

.button{
  background-color: var(--primary-color);
  border: none;
  padding: 15px 15px;
  border-radius: 5px;
}

.resgatar{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.inputs > input{
  color: white;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 2px solid #cdcdcd60;
  padding: 8px 0;
  background-color: var(--form-background);
}

.check{
  border: 2px solid #cdcdcd60;
  background-color: var(--form-background);
}

.inputs > input:hover{
  border: 2px solid var(--primary-color);
}

.car-image{
  max-width: 50%;
}

.car-image > img{
  width: 100%;
  height: 100%;
  border-radius: 0 15px 15px 0;
}

.forms{
  background-color: var(--form-background);
}

.box-alert{
  padding: 7px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
}

.red{
  background-color: #ff38382a;
  border: 2px solid red;
  color: red;
}

.green{
  background-color: #38ff5924;
  border: 2px solid green;
  color: green;
}

.title{
  color: var(--primary-color);
}

.flex-column{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mx-10{
  margin: 0 40px;
}

.space{
display: flex;
justify-content: center;
}

.my-20{
  margin: 20px 0;
}

.mb-30{
margin-bottom: 30px;
}

.text-center{
  text-align: center;
}

@media (max-width: 800px){
  body{
    font-size: 12px;
    align-items: center;
  }
  
  .box{
    flex-direction: column-reverse;
    max-width: 500px;
    margin: 0;
    background-color: var(--form-background);
  }

  .car-image{
    display: none;
  }
}