*{
  margin: 0;
  padding: 0;
}

:root{
    /*colors*/
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632; 
}

body{
    background-color: var(--background);
    color: var(--text-base);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: Roboto, Sans-Serif;
}

.box-index{
  background-color: var(--form-background);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px black;
  display: flex;
  margin: 20px 0;
  max-width: 600px;
}

.box{
  background-color: var(--form-background);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px black;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin-right: 10px;
}

form{
  display: flex;
  flex-direction: column;
}

.legend{
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.legend > h1{
  margin-left: 10px;
  margin-bottom: 0;
}

.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 0;
}

.button{
  background-color: var(--primary-color);
  border: none;
  padding: 15px 15px;
  border-radius: 5px;
}

.resgatar{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 12px;
}

.inputs > input{
  color: white;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 2px solid #cdcdcd60;
  padding: 5px 0;
  background-color: var(--form-background);
}

.check{
  border: 2px solid #cdcdcd60;
  background-color: var(--form-background);
}

.inputs > input:hover{
  border: 2px solid var(--primary-color);
}

.car-image{
  max-width: 50%;
}

.car-image > img{
  width: 100%;
  height: 100%;
  border-radius: 0 15px 15px 0;
}

.text-center{
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
}

a{
  text-decoration: none;
  color: var(--primary-color);

}

@media (max-width: 800px){
  body{
    align-items: center;
  }
  
  .box-index{
    flex-direction: column-reverse;
    max-width: 500px;
    margin: 0;
    background-color: var(--form-background);
  }

  .car-image{
    display: none;
  }
}
